[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django = "*"
dj-rest-auth = "*"
django-allauth = "*"
black = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
google-auth = "*"
google-api-python-client = "*"
python-dateutil = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
